@model GeneralRequestModel
@{
    Layout = "_Layout";
}
@if (Model.returnValue != null)
{
    if (Model.returnValue == "Success")
    {
            <script>
                swal("Feedback Sent", "Feedback Shared successfully", "success");
            </script>
    }
    else
    {
          <script>
                swal("Feedback Sent", "Feedback Shared successfully", "error");
            </script>
    }
}


<table class="table table-hover container" style="margin-top:210px">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model.generalResponses)
    {
        <tr>

            <td>@item.UserName</td>
            <td>@item.Address</td>
        
          
            <td>
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Contact
                    </button>

                    <!-- The Modal -->
                <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                            <div class="modal-header">
                                    <h4 class="modal-title">Modal Heading</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                            <div class="modal-body">
                                    <form method="post">
                                        <input asp-for="requestDb.CurrentUserId" value="@User.GetUserId()" hidden />
                                        <input asp-for="requestDb.Id" value="@item.Id" class="form-control" hidden />
                                        <input asp-for="requestDb.UserName" value="@User.GetUserName()" hidden />

                                        <div class=" form-group">
                                            <input asp-for="requestDb.Name" class="form-control" placeholder="Your Name" required="required" value="@item.UserName" readonly >
                                        </div>
                                        <div class="form-group mt-3">
                                            <textarea asp-for="requestDb.Description" class="form-control" rows="5" placeholder="Enter Your Message" required="required" ></textarea>
                                        </div>

                                        <input type="submit" asp-action="Request" asp-controller="Contractor" class="btn btn-primary" value="Request"/>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </td>


        </tr>

    }
</table>


