@model IEnumerable<SkillResponse>


    <div style="margin-top:200px">
        <input type="search" class="form-control" />
    </div>

    <table style="margin-top:110px" class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Job Profile</th>
            <th>Wages Type</th>
            <th>Wages</th>
            <th>Experience</th>
            <th>Other skills</th>
        </tr>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>@item.Name</td>
                <td>@item.JobProfile</td>
                <td>@item.WagesType</td>
                <td>@item.Wages</td>
                <td>@item.Experience</td>
                <td>@item.Discription</td>
            </tr>

        }
    </table>

