@model IEnumerable<UserAttendanceResponse>

@{
    ViewData["Title"] = "GetAttendance";
}

<h1>Attendance Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.In)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Out)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWorkingHours)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.In)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Out)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalWorkingHours)
                </td>
            </tr>
        }
    </tbody>
</table>
