@model GeneralRequestModel

<style>
    .aa {
        margin-top: 100px;
    }

</style>
<div class="aa">
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Role</td>
                    <td>Action</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.userResponses)
                {
                   <form method="post" asp-action="SendLabourRequest" asp-controller="Manager">
                        <tr>
                        <td>@user.UserName</td>
                        <td>@user.UserRole</td>
                        <td><input type="text" name="RecieverId" value="@user.Id" hidden /></td>
                        <td><input type="text" name="RecieverUserName" value="@user.UserName" hidden /></td>
                        <td><input type="text" name="RecieverUserRole" value="@user.UserRole" hidden /></td>
                        <td><input type="text" name="Status" value="@user.UserStatus" hidden /></td>

                        <td><input type="text" name="SenderId" value="@User.GetUserId()" hidden /></td>
                        <td><input type="text" name="SenderUserName" value="@User.GetUserName()" hidden /></td>
                        <td><input type="text" name="SenderUserRole" value="@User.GetRole()" hidden /></td>
                        

                        <td><button type="submit">Add</button></td>
                        <td><button>Remove</button></td>
                    </tr>
                   </form>
                }
            </tbody>
        </table>
    </form>
</div>


